body {
    font-family: Arial, sans-serif;
    margin-left: 180px;
    margin-right: 180px;
    color: black;
    
}

h1{
    background-color: #13294B;
    color: #FF5F05;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 60px;
    padding: 20px;
}

.upload {
    font-size: 17px;
    margin: 10px;
    background-color: #FF5F05;
    color: #13294B;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.comment {
    font-size: 17px;
    margin: 10px;
    background-color: #FF5F05;
    color: #13294B;
    height: 40px;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
}

li {
    margin-left: 60px;
    margin-top: 10px;
}

.js-comment-section {
    background-color: #13294B;
    color: antiquewhite;
    border-radius: 5px;
}

.username {
    color: #FF5F05;
    font-size: large;
}

.usercomment {
    color: antiquewhite;
    margin: 20px;
}