body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #13294B;
}

h1{
    color: #FF5F05;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 60px;
    padding: 20px;
    background: rgb(95, 123, 175);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.upload {
    font-size: 17px;
    margin: 10px;
    background-color: #FF5F05;
    color: #13294B;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.comment {
    font-size: 17px;
    margin: 10px;
    background-color: #FF5F05;
    color: #13294B;
    height: 40px;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
}

li {
    margin-left: 60px;
    margin-top: 10px;
}

a {
    color: burlywood;
}