<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhereAmI - UIUC Engineering Campus</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>WhereAmI - UIUC Engineering Campus</h1>
        <nav>
            <ul>
                <li><a href="building.html">Upload Image to Find Building</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>About WhereAmI</h2>
            <p>WhereAmI is a web-app designed to help students identify buildings on the UIUC engineering campus. Simply upload a picture of a building, and we will provide details such as the building’s name, nearby bus stops, and its main functions.</p>
        </section>
    </main>
    <main>
        <section id="contact">
            <h2>Meet The Team</h2>
            <div class="team-container">
                <div class="team-member">
                    <img src="ninad.jpg" alt="Ninad" class="team-photo">
                    <h3>Ninad</h3>
                    <p>TODO: BIO here</p>
                </div>
                <div class="team-member">
                    <img src="fiona.jpg" alt="Fiona" class="team-photo">
                    <h3>Fiona</h3>
                    <p>TODO: BIO here</p>
                </div>
                <div class="team-member">
                    <img src="jay.jpg" alt="Jay" class="team-photo">
                    <h3>Jay</h3>
                    <p>TODO: BIO here</p>
                </div>
                <div class="team-member">
                    <img src="evelyn.jpg" alt="Evelyn" class="team-photo">
                    <h3>Evelyn</h3>
                    <p>TODO: BIO here</p>
                </div>
                <div class="team-member">
                    <img src="shao.jpg" alt="🐻" class="team-photo">
                    <h3>🐻</h3>
                    <p>TODO: BIO here</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 WhereAmI</p>
    </footer>
</body>
</html>
